doctype

html
  head
    title MultiVision
    base(href="/")
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
    //- link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet", href="/css/bootstrap.css")
    link(rel="stylesheet", href="/vendor/toastr/toastr.css")
    link(rel="stylesheet", href="/css/site.css")

  body(ng-app='app')
    //- This bootstraps data to send to the client in case
    //- there is a refresh after logging in, the current user
    //- is sent back up ...
    include currentUser
    block main-content
    include scripts
